.spacer {
    height: 5rem;
    background: black;
}
.wrapper {
    padding: 1rem 6rem;
    min-height: 90vh;
    align-items: center; 
}
.movie-details {
    display: flex;
    width: 100%;
}
.singlemovie-img {
    flex-basis: 40%;
    height: 28rem;
}
.singlemovie-img img {
    width: 100%;
    height: 28rem;
}
.singlemovie-info {
    margin-left: 5rem;
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title {
    color: #6db5ff;
    font-size: 1.2rem;
}
.singlemovie-genre {
    margin-top: 0.8rem;
    border: 2px solid white;
    border-radius: 10px;
    display: inline-block;
    width: max-content;
    padding: 5px 10px;
}
.rating {
    padding-left: 0;
}
.rating-details {
    margin-right: 20px;
    font-size: 1.1rem;
}
.show {
    display: block;
}
@media screen and (max-width: 780px) {
    .wrapper {
        padding: 2rem 2rem;
    }
    .singlemovie-img {
        flex-basis: 45%;
    }     
    .singlemovie-info {
        flex-basis: 55%;
        margin-left: 2rem;
    }
}
@media screen and (max-width: 560px) {
    .wrapper {
        padding: 1.5rem 2rem;
    }
    .movie-details {
        flex-direction: column;
        justify-content: unset;
    }
    .singlemovie-img img{
        height: 300px;
        margin-bottom: 2rem;
    }
    .singlemovie-info {
        margin-left: 0;
    }
}